<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
    <h3>Wordplease a pequeña escala</h3>
    <small><a class="copyright" href="mailto:verserper@gmail.com">© Keepcoding |Alumni Verónica Serna 2018</a></small>



    </div></div></div>
    <div class="row"><div class="col"> <a href="#page-header" class="btn btn-default go-up" title="Go to page's top">
            <span class="fa fa-arrow-up"></span>
            arriba
        </a></div></div>
</footer>
