<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.offcanvas.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.17.1.css">
    <title>Wordplease - tu Wordpress a pequeña escala</title>
    <link rel="stylesheet" type="text/css" href="dist/css/main.css">
</head>